<ion-header>
  <ion-toolbar>
      <ion-buttons [routerLink]="['/home']" slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Acerca de</h1>

  <p>Estudiante de Duoc UC sede San Bernardo cursando la carrera de Analista Programador Computacional espera hacer lo mejor de si para lograr crear una APP decente para mis estudios</p>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Autor: Nicolás Pape
    </ion-title>
  </ion-toolbar>
</ion-footer>
<ion-content>
  <ion-button [routerLink]="['/home']">Volver</ion-button>

</ion-content>
