<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My first App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-button [routerLink]="['/inicio']">Inicio</ion-button>
    <ion-button [routerLink]="['/registro']">Registro</ion-button>
    <ion-button [routerLink]="['/login']">Login</ion-button>
    <ion-button [routerLink]="['/acercade']">Acerca de</ion-button>
    <ion-button [routerLink]="['/contacto']">Contacto</ion-button>
    <ion-button [routerLink]="['/lista']">Lista</ion-button>

  </div>
</ion-content>
